<ion-content>
  <!-- Películas Nuevas -->
  <ion-grid fixed>
    <ion-row>
      <ion-col> Películas Nuevas </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="moviesInTheatres.length > 0; else loading">
    <app-slideshow-backdrop
      [movies]="moviesInTheatres"
    ></app-slideshow-backdrop>

    <!-- Cartelera -->
    <ion-grid fixed>
      <ion-row>
        <ion-col> Cartelera </ion-col>
      </ion-row>
    </ion-grid>

    <app-slideshow-poster [movies]="moviesInTheatres"></app-slideshow-poster>

    <!-- Populares -->
    <ion-grid fixed>
      <ion-row>
        <ion-col> Cartelera </ion-col>
      </ion-row>
    </ion-grid>

    <app-slideshow-pairs
      [movies]="popularMovies"
      (loadMore)="loadMoreMovies()"
    ></app-slideshow-pairs>
  </ng-container>
</ion-content>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
