<ion-content>
  <ng-container *ngIf="movieDetails$ | async as movieDetails; else loading">
    <ion-label class="titulo">
      <h1>{{ movieDetails.title }}</h1>
    </ion-label>
    <img
      *ngIf="movieDetails.backdrop_path"
      [src]="movieDetails.backdrop_path | Image"
      [alt]="movieDetails.title"
      loading="lazy"
    />
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="poster-detalle-sobre">
          <ion-card class="poster">
            <img
              *ngIf="movieDetails.poster_path"
              [src]="movieDetails.poster_path | Image"
              [alt]="movieDetails.title"
              loading="lazy"
              class="poster"
            />
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon slot="start" color="primary" name="thumbs-up"></ion-icon>
            <ion-label>Rating</ion-label>
            <ion-note slot="end" color="primary">{{
              movieDetails.vote_average
            }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-icon
              slot="start"
              color="primary"
              name="earth-outline"
            ></ion-icon>
            <ion-label>Votos</ion-label>
            <ion-note slot="end" color="primary">{{
              movieDetails.vote_count
            }}</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-label
            >{{ movieDetails.overview | slice: 0:hidden
            }}<span
              *ngIf="movieDetails.overview.length >= 150 && hidden === 150"
              >...</span
            ></ion-label
          >
          <ng-container *ngIf="movieDetails.overview.length > 150">
            <ion-label
              color="primary"
              (click)="hidden = 5000"
              *ngIf="hidden !== 5000"
              >Leer más.</ion-label
            >
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-chip *ngFor="let genre of movieDetails.genres" color="primary">
            <ion-label>{{ genre.name }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-label>Actores</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-slides [options]="slidesOpts" *ngIf="movieCast$ | async as movieCast">
      <ion-slide *ngFor="let cast of movieCast.cast">
        <ion-card class="card-actor">
          <img
            *ngIf="cast.profile_path"
            [src]="cast.profile_path | Image"
            [alt]="cast.name"
            loading="lazy"
          />
          <img
            *ngIf="!cast.profile_path"
            src="./assets/img/no-avatar.jpg"
            loading="lazy"
          />

          <ion-label class="actor-name">{{ cast.name }}</ion-label>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ng-container>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
        <ion-label>Regresar</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="favorite()">
        <ion-icon slot="end" [name]="star"></ion-icon>
        <ion-label>Favorito</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
